<p>
  <strong>Reviewer:</strong>
  <%= review.reviewer %><br />
  <strong>Rating:</strong>
  <%= review.rating %><br>
  <strong>Comment:</strong>
  <%= review.comment %>
	<strong>Email:</strong>
	<%= review.email %>
  <br>
</p>
